<div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true" style="" role="button">
	<div class="nav-responsive">
		<div class="heading-part">
			<h2 class="main_title">Toutes les catégories
			</h2>
		</div>
		<ul class="nav  main-navigation collapse in">
			{% if categories is defined %}
				{% for categorie in categories %}
					<li>
						<a href="{{url('app_categorie_show',{id:categorie.id})}}">{{categorie|title}}</a>
					</li>
				{% endfor %}
			{% else %}
				<li>
					<a href="#">Aucune catégorie </a>
				</li>
			{% endif %}

		</ul>
	</div>
</div>
<div class="left_banner left-sidebar-widget mt_30 mb_40">
{% if entreprise.imageGauche %}
	<a href="#"><img src="{{asset('uploads/images/produits/' ~ entreprise.imageGauche)}}" alt="{{entreprise.imageGauche}}" class="img-responsive" ></a>
														{% else %}
	<a href="#"><img src="{{asset('images/left1.jpg')}}" alt="Left Banner" class="img-responsive"/></a>
														{% endif %}

</div>
