<div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true" style="" role="button">
	<div class="nav-responsive">
		<div class="heading-part">
			<h2 class="main_title">Toutes les catégories
			</h2>
		</div>
		<ul class="nav  main-navigation collapse in">
			{% if categories is defined %}
				{% for categorie in categories %}
					<li>
						<a href="{{url('app_categorie_show',{id:categorie.id})}}">{{categorie|title}}</a>
					</li>
				{% endfor %}
			{% else %}
				<li>
					<a href="#">Aucune catégorie </a>
				</li>
			{% endif %}

		</ul>
	</div>
</div>
<div class="left_banner left-sidebar-widget mt_30 mb_40">
{% if entreprise.imageGauche is defined  %}
	<a href="#"><img src="{{asset('uploads/images/produits/' ~ entreprise.imageGauche)}}" alt="{{entreprise.imageGauche}}" class="img-responsive" ></a>
														{% else %}
	<a href="#"><img src="{{asset('images/left1.jpg')}}" alt="Left Banner" class="img-responsive"/></a>
														{% endif %}

</div>
<div class="left-special left-sidebar-widget mb_50">
            <div class="heading-part mb_20 ">
              <h2 class="main_title">Arrivage</h2>
            </div>
            <div id="left-special" class="owl-carousel">
              <ul class="row ">

				{% for categorie in categories %}
					{% for produit in categorie.produits %}
					{% if produit.isArrivage %}
                <li class="item product-layout-left mb_20">
                  <div class="product-list col-xs-4">
                    <div class="product-thumb">
                      <div class="image product-imageblock"> <a href="product_detail_page.html">
					   	<img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="{{asset('images/product/product8.jpg')}}"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="images/product/product8-1.jpg"> </a> 
					   </div>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="caption product-detail">
                      <h6 class="product-name"><a href="#">{{produit}}</a></h6>
                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                      <span class="price"><span class="amount"><span class="currencySymbol">$</span>{{produit.prixVente}}</span>
                      </span>
                    </div>
                  </div>
                </li>
					{% endif %}
				{% endfor %}
				{% endfor %}

              </ul>
              
            </div>
          </div>
