<!-- =====  FOOTER START  ===== -->
<div class="footer pt_60">
	<div class="container">
		<div class="newsletters mt_30 mb_50">
			<div class="row">
				<div class="col-sm-6">
					<div class="news-head pull-left">
						<h2>Suivez nos actualités !</h2>
						<div class="new-desc">Soyez les premiers à avoir les nouvelles des arrivages !</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="news-form pull-right">
						<form onsubmit="return validatemail();" action="{{url('app_creationNewsLetter')}}" method="get">
							<div class="form-group required">
								<input name="email" id="email" placeholder="Entrer votre e-mail" class="form-control input-lg" required="" type="email">
								<button type="submit" class="btn btn-default btn-lg">Souscrire</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 footer-block">
				<h6 class="footer-title ptb_20">Information</h6>
				<ul>
					<li><a href="{{url('app_qsn')}}">A Propos de nous</a></li>
					<li><a href="{{url('app_livraison')}}">Information sur la Livraison</a></li>
					<li><a href="{{url('app_policy')}}">Privacy Policy</a></li>
					<li><a href="{{url('app_terme_conditions')}}">Terms & Conditions</a></li>
					<li><a href="{{url("app_garantie_remboursement")}}">Garantie Remboursement</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-block">
				<h6 class="footer-title ptb_20">Services</h6>
				<ul>
					{% if services is defined and services|length > 0 %}
						{% for service in services %}
							<li>
								<a href="{{url('app_service',{id:service.id})}}">{{service|title }}</a>
							</li>
						{% endfor %}
					{% endif %}
					<li>
						<a href="{{url("app_admin")}}">Connexion dashboard </a>
					</li>
				</ul>
			</div>
			<div class="col-md-3 footer-block">
				<h6 class="footer-title ptb_20">Liens utiles
				</h6>
				<ul>
					<li>
						<a href="{{url('app_accueil')}}">Accueil</a>
					</li>
					<li>
						<a href="{{url('app_qsn')}}">Qui sommes-nous?</a>
					</li>
					<li>
						<a href="{{asset('profilefina2.pdf')}}">Notre profile</a>
					</li>
					{% if categories is defined and categories|length > 0 %}
						{% for categorie in categories %}
							<li>
								<a href="{{url('app_categorie_show',{id:categorie.id})}}">{{categorie|title }}</a>
							</li>
						{% endfor %}
					{% endif %}

				</ul>
			</div>
			<div class="col-md-3 footer-block">
				<h6 class="footer-title ptb_20">Contacts</h6>
				<ul>
					<li>Siège social,</li>
					{% if entreprise is defined and entreprise|length > 0 %}
					<li>{{entreprise.adresse|title}}</li>
					<li>{{entreprise.telephoneEntreprise}}</li>
					<li>{{entreprise.emailEntreprise}}</li>
					<li>
						<a href="{{entreprise.websiteEntreprise}}">{{entreprise.websiteEntreprise|url_encode}}</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-bottom mt_60 ptb_20">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="social_icon">
						<ul>
							<li><a href="{#{entreprise.facebook}#}"><i class="fa fa-facebook"></i></a></li>
							<li><a href="{#{entreprise.googleplus}#}"><i class="fa fa-google"></i></a></li>
							<li><a href="{#{entreprise.linkedin}#}"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="{#{entreprise.twitter}#}"><i class="fa fa-twitter"></i></a></li>
							<li><a href="{#{entreprise.instagramme}#}"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="copyright-part text-center">@ 2022 Tous droits reservés 
					{% if entreprise is defined and entreprise | length > 0 %}
					{{entreprise.sigle|upper }}
					{% endif %}
					</div>
				</div>
				<div class="col-sm-4">
					<div class="payment-icon text-right">
						<ul>
							<li>
								<img    src="{{asset('images/mobileMoney1.png')}}" class="fa fa-cc-paypal "></i>
							</li>
							<li>
								<img    src="{{asset('images/mobileMoney2.png')}}" class="fa fa-cc-paypal "></i>
							</li>
							<li>
								<img    src="{{asset('images/mobileMoney3.png')}}" class="fa fa-cc-paypal "></i>
							</li>
							<li>
								<img    src="{{asset('images/mobileMoney4.png')}}" class="fa fa-cc-paypal "></i>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- =====  FOOTER END  ===== -->
<a id="scrollup"></a>
