<div class="category-page-wrapper mb_30">
	<div class="list-grid-wrapper pull-left">
		<div class="btn-group btn-list-grid">
			<button type="button" id="grid-view" class="btn btn-default grid-view active"></button>
			<button type="button" id="list-view" class="btn btn-default list-view"></button>
		</div>
	</div>
	<div class="sort-wrapper pull-right">
		<label class="control-label" for="input-sort">Catégorie :</label>
		<div class="sort-inner">
			<select id="input-sort" class="form-control">
				<option value="ASC" selected="selected">Tous</option>
				{% for categorie in categories %}
				<option value="ASC">{{categorie}}</option>
				{% endfor %}
			</select>
		</div>
		<span>
			<i class="fa fa-angle-down" aria-hidden="true"></i>
		</span>
	</div>
</div>


<div class="row">
{% for produit in produits %}
	<div class="product-layout product-grid col-md-4 col-xs-6 ">
		<div class="item">
			<div class="product-thumb clearfix mb_30">
				<div class="image product-imageblock">
					<a href="{{url('product_view',{id:produit.id})}}">
						<img data-name="product_image"   src="{{asset('uploads/images/produits/' ~ produit.photoPrincipale)}}" alt="iPod Classic" title="iPod Classic" class="img-responsive"/>
						<img   src="{{asset('uploads/images/produits/' ~ produit.photoPrincipale)}}" alt="{{produit.nom}}" title="{{produit.nom}}" class="img-responsive"/>
					</a>
					<div class="button-group text-center">
						<div title="Détail produit"  class="quickview">
							<a href="{{url('product_view',{id:produit.id})}}">
								<span>Détail produit</span>
							</a>
						</div>

						<div title="Acheter directement" class="add-to-cart">
							<a href="{{url('cart_add',{id:produit.id})}}">
								<span>Acheter directement </span>
							</a>
						</div>
						
						<div title="Ajouter au panier" class="add-to-cart">
							<a onClick="alert('Jambo')" href="{{url('cart_add',{id:produit.id})}}">
								<span>Ajouter au panier</span>
							</a>
						</div>
					</div>
				</div>
				<div class="caption product-detail text-center">
					<h6 data-name="product_name" class="product-name mt_20">
						<a href="{{url('product_view',{id:2})}}" title="Casual Shirt With Ruffle Hem">
            {{produit.nom|title}}
            </a>
					</h6>
					<div class="rating">
						<span class="fa fa-stack">
							<i class="fa fa-star-o fa-stack-1x"></i>
							<i class="fa fa-star fa-stack-1x"></i>
						</span>
						<span class="fa fa-stack">
							<i class="fa fa-star-o fa-stack-1x"></i>
							<i class="fa fa-star fa-stack-1x"></i>
						</span>
						<span class="fa fa-stack">
							<i class="fa fa-star-o fa-stack-1x"></i>
							<i class="fa fa-star fa-stack-1x"></i>
						</span>
						<span class="fa fa-stack">
							<i class="fa fa-star-o fa-stack-1x"></i>
							<i class="fa fa-star fa-stack-1x"></i>
						</span>
						<span class="fa fa-stack">
							<i class="fa fa-star-o fa-stack-1x"></i>
							<i class="fa fa-star fa-stack-x"></i>
						</span>
					</div>
					<span class="price">
						<span class="amount">
							<span class="currencySymbol">$</span>{{produit.prixVente}}</span>
					</span>
					<p class="product-desc mt_20 mb_60">
						{{produit.description|raw}}
            </p>
				</div>
			</div>
		</div>
	</div>
{% else %}

{% endfor %}
</div>
