{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}
{% block ariane %}
	{{parent() }}
	Gestion users
{% endblock %}
{% block lesboutons %}

	<a href="{{path('app_user_index')}}" title="Retour à la liste " class="btn btn-info btn-sm">
		<i class="fa fa-reply-all"></i>
		Rétour
	</a>
{% endblock %}
{% block hero %}{% endblock %}

{% block innerPage %}
	Création d'un compte adminsitrateur
{% endblock %}

{% block body %}
	<!-- product section -->
	{# <div class="my-custom-class-for-errors">
	        {{ form_errors(form) }}
	    </div> #}

	{{ form_start(registrationForm) }}

		<div class="row"> 
				<div class="col col-md-6">
		{{ form_row(registrationForm.identite.nom) }}
				</div>
				<div class="col col-md-6">
		{{ form_row(registrationForm.identite.postnom) }}
				</div>
				<div class="col col-md-6">
		{{ form_row(registrationForm.identite.prenom) }}
				</div>
			<div class="col col-md-6">
			{{ form_row(registrationForm.email) }}
			</div>
			<div class="col col-md-6">
			{{ form_row(registrationForm.password.first, {
            label: 'Mot de passe '
        }) }}
			</div>
			<div class="col col-md-6">
			{{ form_row(registrationForm.password.second, {
            label: 'Répéter le mot de passe '
        }) }}
			</div>
				<div class="col col-md-4">
		{{ form_row(registrationForm.adresse.telephone) }}
				</div>
				<div class="col col-md-8">
		{{ form_row(registrationForm.adresse.adresse) }}
				</div>
				<div class="col col-md-6">
		{{ form_row(registrationForm.adresse.ville) }}
				</div>
				<div class="col col-md-6">
		{{ form_row(registrationForm.adresse.pays) }}
				</div>
				
	</div>
<div class="row">
	<div class="col col-md-6">
		{{ form_row(registrationForm.agreeTerms) }}
	</div>
	<div class="col col-md-6">
		<button type="submit" class="btn btn-default btn-primary pull-right">
			<span class="fa fa-user">
				Enregistrer
			</button>
		</div>
	</div>
	{{ form_end(registrationForm) }}

</div></div>{% endblock %}
