{% extends 'base.html.twig' %}

{% block title %}Modifier profile 
{% endblock %}
{% block ariane %}
	{{parent() }}
	Gestion users
{% endblock %}
{% block lesboutons %}

	<a href="{{path('app_user_index')}}" title="Retour à la liste " class="btn btn-info btn-sm">
		<i class="fa fa-reply-all"></i>
		Rétour
	</a>
{% endblock %}
{% block hero %}{% endblock %}

{% block innerPage %}
	Création d'un compte adminsitrateur
{% endblock %}

{% block body %}
<!-- product section -->

			<div class="row">
				<div class="col col-6">

	{{ form_start(form) }}
	{{ form_row(form.email) }}
	{{ form_row(form.identite) }}
	{{ form_row(form.adresse) }}
	<button type="submit" class="btn btn-default btn-primary">
		<span class="fa fa-user">
			Enregistrer
		</button>
		{{ form_end(form) }}

		</div>
		</div>
	{% endblock %}
