{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Role principal</th>
                <td>{{ user.rolePrincipal }}</td>
            </tr>
            <tr>
                <th>Code client </th>
                <td>{{ user.codeClient }}</td>
            </tr>

            <tr>
                <th>Noms complets  </th>
                <td>{{ user.identite }}</td>
            </tr>
            <tr>
                <th>Adresse </th>
                <td>{{ user.adresse }}</td>
            </tr>
        </tbody>
    </table>
    {% if is_granted("ROLE_ADMIN") %}

    <a class="btn btn-success" href="{{ path('app_user_index') }}">retour à la liste </a>
    {% endif %}

    <a class="btn btn-primary" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier profile</a>
    <a class="btn btn-primary pull rigth" href="{{ path('app_user_reset_password') }}">Changer mot de passe</a>

    {# {{ include('user/_delete_form.html.twig') }} #}
{% endblock %}
